/* место для вашего кода */
.header {
   width: 96%;
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 1fr 1fr 1fr;
   padding: 92px 49px 96px 51px;
}

.header_menu {
    width: 100%;
    align-self: center;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
}

.header_link-list {
    display: flex;
    column-gap: 13px;
}

.header__links-list-item {
    list-style: circle inside;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header_logo {
    display: block;
    width: 148px;
    justify-self: center;
    align-self: center;
}

.header_logo_image {
    width: 100%;
}

.adress {
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    line-height: 135%;
}

.header_adress {
    align-self: center;
    justify-self: center;
}

.cover {
    display: flex;
    flex-direction: column;
    max-width: 96%;
    position: relative;
    height: 757px;
    background-size: cover;
    background-image: url(../images/cover.jpg);
    margin-bottom: 180px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.cover_tittle {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 160px 50px 0;
    position: relative ;
    z-index: 2;
    color: #FFF;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase; 
}

.letter-spacing {
    letter-spacing: 30px;
}

.no-letter-spacing {
    letter-spacing: 60px;
}

.aligned-text {
    justify-self: flex-start;
}

.aligned-text_center {
   align-self: center;
   line-height: 100%;
    
}

.aligned-text_right {
    align-self: flex-end;
    line-height: 100%;
}

.cover__description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 137px 50px 52px;
    color: #FFF;
    position: relative;
    z-index: 2;
    column-gap: 78px ;
}
.cover__description-text {
    word-spacing: 18px;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px; /* 127.273% */
    text-transform: uppercase;
}

.bet-button {
    background: transparent;
    color: #FFF;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    text-transform: uppercase;
    width: 257px;
    height: 52px;
    border: 1px solid #FFF;
}



.footer {
   width: 96%;
   display: grid;
   column-gap: 356px;
   grid-template-rows: 1fr;
   grid-template-columns: 1fr 1fr 1fr;
   margin: 0px 50px 90px;
}

.footer_adress {
    align-self: start;
    justify-self: start;
}

.footer_menu {
    font-size: 18px;
    font-style: normal;
    line-height: normal;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;

}

.footer__menu-list-item {
    align-self: center;
}

.footer__menu-link {
    text-decoration-line: underline;
    text-decoration-skip-ink: none
}

.footer__menu-link_active {
    text-decoration: none;
}

.social-list {
   display: block;
   max-height: 48px;
   max-width: 240px;
}

.footer__social-list {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}
.footer__social-list-item {
    list-style: none;
}

.footer__social-icon {
    height: 100%;
    width: 100%;
}



