/* место для вашего кода */
.header {
   width: 90%;
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 1fr min-content 1fr;
   margin: 92px 49px 0px 51px;
}

.header_menu {
    align-self: center;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
}

.header_link-list {
    display: flex;
    column-gap: 13px;

}

.header__links-list-item {
    list-style: circle inside;
    
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
}

.header_logo {
    display: block;
    width: 148px;
    justify-self: center;
    margin-right: 355px;
    margin-left: 209px;
}

.header_logo_image {
    width: 100%;
    
}

.adress {
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    line-height: 135%;
}

.header_adress {
    align-self: center;
    justify-self: start;
}

.footer {
   width: 100%;
   display: grid;
   column-gap: 356px;
   grid-template-rows: 1fr;
   grid-template-columns: 1fr 1fr 1fr;
   margin: 0px 50px 90px;
}

.footer_adress {
    align-self: start;
    justify-self: start;
}

.footer_menu {
    font-size: 18px;
    font-style: normal;
    line-height: normal;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;

}

.footer__menu-list-item {
    align-self: center;
}

.footer__menu-link {
    text-decoration-line: underline;
    text-decoration-skip-ink: none
}

.footer__menu-link_active {
    text-decoration: none;
}

.social-list {
   display: block;
   max-height: 48px;
   max-width: 240px;
}

.footer__social-list {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}
.footer__social-list-item {
    list-style: none;
}

.footer__social-icon {
    height: 100%;
    width: 100%;
}



