/* место для вашего кода */
.header {
   width: 90%;
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 1fr 1fr 1fr;
   padding: 92px 49px 96px 51px;
}

.header_menu {
    width: 90%;
    align-self: center;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
}

.header_link-list {
    display: flex;
    column-gap: 13px;
}

.header__links-list-item {
    list-style: circle inside;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header_logo {
    display: block;
    width: 148px;
    justify-self: center;
    align-self: center;
}

.header_logo_image {
    width: 100%;
}

.adress {
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    line-height: 135%;
}

.header_adress {
    align-self: center;
    justify-self: center;
}

.cover {
    width: 90%;
    padding: 165px 50px 180px;
    background-image: url(../images/cover.jpg);
}

.cover_tittle {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: #FFF;
    font-family: Raleway;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 115px */
    text-transform: uppercase;
}

.letter-spacing {
    letter-spacing: 30px;
}

/*.no-letter-spacing {
    letter-spacing: 60px;
}*/

.aligned-text {
    justify-self: flex-start;
}

.aligned-text_center {
    align-self: center;
}

.aligned-text_right {
    align-self: flex-end;
}

.footer {
   width: 100%;
   display: grid;
   column-gap: 356px;
   grid-template-rows: 1fr;
   grid-template-columns: 1fr 1fr 1fr;
   margin: 0px 50px 90px;
}

.cover__description {
    display: flex;
    
    column-gap: 78px ;
    color: #FFF;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    text-transform: uppercase;
}
.cover__description-text {
    /*вписать значение word-spacing*/
}

.footer_adress {
    align-self: start;
    justify-self: start;
}

.footer_menu {
    font-size: 18px;
    font-style: normal;
    line-height: normal;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;

}

.footer__menu-list-item {
    align-self: center;
}

.footer__menu-link {
    text-decoration-line: underline;
    text-decoration-skip-ink: none
}

.footer__menu-link_active {
    text-decoration: none;
}

.social-list {
   display: block;
   max-height: 48px;
   max-width: 240px;
}

.footer__social-list {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}
.footer__social-list-item {
    list-style: none;
}

.footer__social-icon {
    height: 100%;
    width: 100%;
}



